{
  "jobs": {
    "bt-asan": {
      "runs-on": "ubuntu-22.04",
      "steps": [
        {
          "name": "Cancel previous runs",
          "uses": "styfle/cancel-workflow-action@0.12.1",
          "with": {
            "access_token": "${{ github.token }}",
            "all_but_latest": true
          }
        },
        {
          "uses": "actions/checkout@v6.0.1"
        },
        {
          "run": "(git gc --quiet || :)"
        },
        {
          "run": "sudo apt-get install file"
        },
        {
          "run": "sh .extra/btasan.sh"
        }
      ],
      "strategy": {
        "fail-fast": true
      }
    },
    "bt-clang": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.1"
        },
        {
          "run": "(git gc --quiet || :)"
        },
        {
          "run": "sudo apt-get install file"
        },
        {
          "run": "sh .extra/btclang.sh"
        }
      ],
      "strategy": {
        "fail-fast": true
      }
    },
    "bt-normal": {
      "runs-on": "${{ matrix.os }}",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.1"
        },
        {
          "run": "(git gc --quiet || :)"
        },
        {
          "run": "(sudo apt-get install file || :)"
        },
        {
          "run": "sh .extra/btnormal.sh"
        }
      ],
      "strategy": {
        "fail-fast": true,
        "matrix": {
          "os": [
            "ubuntu-24.04",
            "ubuntu-24.04-arm",
            "macos-13",
            "macos-14",
            "macos-15-intel",
            "macos-26"
          ]
        }
      }
    },
    "chroot-alpine": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.1"
        },
        {
          "run": "(git gc --quiet || :)"
        },
        {
          "uses": "jirutka/setup-alpine@v1.4.1",
          "with": {
            "arch": "${{ matrix.alpinearch }}",
            "branch": "edge",
            "packages": "build-base file"
          }
        },
        {
          "run": "sh .extra/btnormal.sh",
          "shell": "alpine.sh {0}"
        }
      ],
      "strategy": {
        "fail-fast": true,
        "matrix": {
          "alpinearch": [
            "aarch64",
            "armhf",
            "armv7",
            "loongarch64",
            "ppc64le",
            "riscv64",
            "s390x",
            "x86",
            "x86_64"
          ]
        }
      }
    }
  },
  "name": "build-and-test",
  "on": {
    "push": {
      "branches": [
        "GHA"
      ]
    },
    "workflow_dispatch": null
  }
}
