{
  "jobs": {
    "alpha": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.2"
        },
        {
          "uses": "docker://debian:sid-slim",
          "with": {
            "args": "sh .extra/cross.sh alpha alpha-linux-gnu qemu-alpha"
          }
        }
      ],
      "strategy": {
        "fail-fast": true
      }
    },
    "arm64": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.2"
        },
        {
          "uses": "docker://debian:sid-slim",
          "with": {
            "args": "sh .extra/cross.sh arm64 aarch64-linux-gnu qemu-arm64"
          }
        }
      ],
      "strategy": {
        "fail-fast": true
      }
    },
    "armel": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.2"
        },
        {
          "uses": "docker://debian:sid-slim",
          "with": {
            "args": "sh .extra/cross.sh armel arm-linux-gnueabi qemu-armel"
          }
        }
      ],
      "strategy": {
        "fail-fast": true
      }
    },
    "armhf": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.2"
        },
        {
          "uses": "docker://debian:sid-slim",
          "with": {
            "args": "sh .extra/cross.sh armhf arm-linux-gnueabihf qemu-armhf"
          }
        }
      ],
      "strategy": {
        "fail-fast": true
      }
    },
    "hppa": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.2"
        },
        {
          "uses": "docker://debian:sid-slim",
          "with": {
            "args": "sh .extra/cross.sh hppa hppa-linux-gnu qemu-hppa"
          }
        }
      ],
      "strategy": {
        "fail-fast": true
      }
    },
    "loong64": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.2"
        },
        {
          "uses": "docker://debian:sid-slim",
          "with": {
            "args": "sh .extra/cross.sh loong64 loongarch64-linux-gnu qemu-loong64"
          }
        }
      ],
      "strategy": {
        "fail-fast": true
      }
    },
    "m68k": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.2"
        },
        {
          "uses": "docker://debian:sid-slim",
          "with": {
            "args": "sh .extra/cross.sh m68k m68k-linux-gnu qemu-m68k"
          }
        }
      ],
      "strategy": {
        "fail-fast": true
      }
    },
    "powerpc": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.2"
        },
        {
          "uses": "docker://debian:sid-slim",
          "with": {
            "args": "sh .extra/cross.sh powerpc powerpc-linux-gnu qemu-powerpc"
          }
        }
      ],
      "strategy": {
        "fail-fast": true
      }
    },
    "ppc64": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.2"
        },
        {
          "uses": "docker://debian:sid-slim",
          "with": {
            "args": "sh .extra/cross.sh ppc64 powerpc64-linux-gnu qemu-ppc64"
          }
        }
      ],
      "strategy": {
        "fail-fast": true
      }
    },
    "ppc64el": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.2"
        },
        {
          "uses": "docker://debian:sid-slim",
          "with": {
            "args": "sh .extra/cross.sh ppc64el powerpc64le-linux-gnu qemu-ppc64el"
          }
        }
      ],
      "strategy": {
        "fail-fast": true
      }
    },
    "riscv64": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.2"
        },
        {
          "uses": "docker://debian:sid-slim",
          "with": {
            "args": "sh .extra/cross.sh riscv64 riscv64-linux-gnu qemu-riscv64"
          }
        }
      ],
      "strategy": {
        "fail-fast": true
      }
    },
    "s390x": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.2"
        },
        {
          "uses": "docker://debian:sid-slim",
          "with": {
            "args": "sh .extra/cross.sh s390x s390x-linux-gnu qemu-s390x"
          }
        }
      ],
      "strategy": {
        "fail-fast": true
      }
    },
    "sh4": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.2"
        },
        {
          "uses": "docker://debian:sid-slim",
          "with": {
            "args": "sh .extra/cross.sh sh4 sh4-linux-gnu qemu-sh4"
          }
        }
      ],
      "strategy": {
        "fail-fast": true
      }
    },
    "sparc64": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.2"
        },
        {
          "uses": "docker://debian:sid-slim",
          "with": {
            "args": "sh .extra/cross.sh sparc64 sparc64-linux-gnu qemu-sparc64"
          }
        }
      ],
      "strategy": {
        "fail-fast": true
      }
    }
  },
  "name": "deb-cross",
  "on": {
    "push": {
      "branches": [
        "GHA"
      ]
    },
    "workflow_dispatch": null
  }
}
