{
  "jobs": {
    "vm-omnios": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.1"
        },
        {
          "run": "(git gc --quiet || :)"
        },
        {
          "uses": "vmactions/omnios-vm@v1.2.1",
          "with": {
            "copyback": false,
            "mem": 2048,
            "prepare": "pkg install developer/gcc14 system/header",
            "run": "sh .extra/vm-slowlartus.sh",
            "usesh": true
          }
        }
      ]
    },
    "vm-slowlartus": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v6.0.1"
        },
        {
          "run": "(git gc --quiet || :)"
        },
        {
          "uses": "vmactions/solaris-vm@v1.2.4",
          "with": {
            "copyback": false,
            "mem": 2048,
            "prepare": "pkgutil -y -i gcc5core gcc5g++",
            "release": "11.4-gcc",
            "run": "sh .extra/vm-slowlartus.sh",
            "usesh": true
          }
        }
      ]
    }
  },
  "name": "vm-slowlartus",
  "on": {
    "workflow_dispatch": null
  }
}
